<main class="flex min-h-screen flex-col items-center justify-center p-24">
    <button phx-click="teste">Testeeee</button>
</main>
<ElixirPlanningPokerWeb.Layouts.flash_group flash={@flash} />
<Layouts.theme_toggle />